/* Universal Styles */

body {
  font-size: 17px;
  color: black;
  margin: 0;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: mediumaquamarine;
  font-size: 18px;
}

header nav {
  padding-right: 40px;
}
