/* Universal Styles */

nav span {
  display: inline-block;
}

/* Header */

header {
  display: flex;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: mediumaquamarine;
  font-size: 18px;
}

header nav {
  padding-right: 40px;
}
